@tailwind base;
@tailwind components;
@tailwind utilities;

/* using the font-family Manrope */
* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.container {
  @apply w-full max-w-screen-2xl mx-auto px-2 md:px-3 lg:px-4 xl:px-6 ;
}

.com-box-shadow {
  -webkit-box-shadow: 4px 8px 34px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 8px 34px 20px rgba(0, 0, 0, 0.3);
  border: 0;
}